<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>© lolwut ? Powered by finely trained slowpokes!</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">{% trans "Contact Me" %}</a></li>
                    <li><a href="#">{% trans "About" %}</a></li>
                    <li><a href="https://bitbucket.org/s-y">Me on BitBucket <3</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
