{% load i18n %}
{#<div class="row">#}
{#    <div class="large-12 columns">#}
{#      <div class="nav-bar right">#}
{#       <ul class="button-group">#}
{#         <li><a href="#" class="button">Link 1</a></li>#}
{#         <li><a href="#" class="button">Link 2</a></li>#}
{#         <li><a href="#" class="button">Link 3</a></li>#}
{#         <li><a href="#" class="button">Link 4</a></li>#}
{#           <li class="has-dropdown">#}
{#        <a href="#">Right Button with Dropdown</a>#}
{#        <ul class="dropdown">#}
{#          <li><a href="{% url "account_login" %}">Login</a></li>#}
{#          <li><a href="{% url "account_logout" %}">Logout</a></li>#}
{#          <li><a href="{% url "account_change_password" %}">Change password</a></li>#}
{#        </ul>#}
{#      </li>#}
{#        </ul>#}
{#      </div>#}
{#      <h1>Blog <small>This is my blog. It's awesome.</small></h1>#}
{#      <hr />#}
{#    </div>#}
{#</div>#}
<div class="row">
    <div class="large-12 columns">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><a>{% trans "Ask Guru" %}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>{% trans "Menu" %}</span></a></li>

  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

        {# <a href="{% provider_login_url "github" method="js_sdk" %}">Facebook Connect</a> #}
{% if show_forms and not user.is_authenticated %}
      <li><a href="{% url "account_reset_password" %}">{% trans "Password recovery" %} </a></li>
      <li><a data-reveal-id="modal-login" href="#">{% trans "Login" %}</a></li>
      <li><a data-reveal-id="modal-reg" href="#">{% trans "Registration" %}</a></li>

      
{% else %}

      <li class="has-dropdown">
      <a href="#">{% trans "Profile" %}</a>
        <ul class="dropdown">

          <li><a href="{% url "account_logout" %}">{% trans "Profile" %} </a></li>
          <li><a href="{% url "account_logout" %}">{% trans "Logout" %} </a></li>
          <li><a href="{% url "account_change_password" %}">{% trans "Change password" %} </a></li>

        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    
  </section>
{% endif %}
</nav>

{% if not is_main %}
<nav class="breadcrumbs">
    <a href="{% url "main" %}">{% trans "Home" %}</a>
  <a class="current" href="#">{{ current_page }}</a>
</nav>

{% endif %}

        <hr>
        </div>

    </div>

