{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{%  block title %}

{% endblock %}
{%  block content %}

<div class="row">
<h2 class="subheader">h1.subheader</h2>

<hr>
	  <div class="large-1 columns">
	  <img src="http://placehold.it/10x10"> <br/>
	  <img src="http://placehold.it/10x10"><br/>
	  <img src="http://placehold.it/80x80"><br/>
	  </div>
	    <div class="large-11 columns">

  <div class="row" id="question">
    <div class="large-12 columns">
    
      <label>
        ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.
	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.
	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.

	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.

	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.
      </label>  
    </div>
  </div>
	    
	    
        <a href="{#{% url "profile" object.owner.pk %}#} #"> Username {{ object.owner.username }}</a>

	    <ul class="inline-list">
	      <li>
	        <a href="#"><span class="label">Link 3</span></a>
	      </li>
	      <li>
	        <a href="#"><span class="label">Link 3</span></a>
	      </li>
	      <li>
	        <a href="#"><span class="label">Link 3</span></a>
	      </li>
</ul>



<br/>
</div>
<hr>

</div>


{% endblock %}
