{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{%  block title %}

{% endblock %}
{%  block content %}

<div class="row">
    <h2 class="subheader">{{ object.name }}</h2>

<hr>
	  <div class="large-1 columns">
	  <img src="{{ object.owner.get_avatar }}"><br/>
	  </div>
	    <div class="large-11 columns">

  <div class="row" id="question">
    <div class="large-12 columns">
    
      <label>
{{ object.text }}
       </label>  
    </div>
  </div>
	    
	    
        <a href="{% url "profile" object.owner.pk %}">  {{ object.owner.username }}</a>

	    <ul class="inline-list">

            {% for tag in object.tags.all %}
	      <li>
          <a href="{% url "tag" tag.slug %}"><span class="label">{{ tag.name }}</span></a>
	      </li>
          {% endfor %}
</ul>

<form action="{% url "answer_add"%}" method="post" accept-charset="utf-8"> {% csrf_token %}
    <input type="hidden" value="{{ object.pk }}" name="question">
<textarea class="textarea" cols="40" id="id_text" name="text" rows="10"></textarea>

    <p><input type="submit" class="button"  value="Answer →"></p>
</form>
<div class="row">
    <div class="large-offset-1 large-10 columns">

            {% for ans in object.answers.all %}


    <hr/>

            <a href="{% url "profile" object.owner.pk %}" target="_blank">{{ ans.owner.username }}</a>
   <p> 
   {{ ans.text }}
    </p> 

          {% endfor %}
    </div>
</div>
<br/>
</div>
<hr>

</div>


{% endblock %}
