{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{%  block title %}

{% endblock %}
{%  block content %}

<div class="row">
<h2 class="subheader">h1.subheader</h2>

<hr>
	  <div class="large-1 columns">
	  <img src="http://placehold.it/200x200"><br/>
	  </div>
	    <div class="large-11 columns">

  <div class="row" id="question">
    <div class="large-12 columns">
    
      <label>
        ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.
	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.
	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.

	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.

	    ..sdffsdfsdfsdfsWhen I switch to command line I can log in, but I have no idea how to fix this issue there. Network is not working then either, although the computer is connected via cable. Maybe the network config is not loaded (DHCP is off). So I cannot run updates or reinstall.
      </label>  
    </div>
  </div>
	    
	    
        <a href="{#{% url "profile" object.owner.pk %}#} #"> Username {{ object.owner.username }}</a>

	    <ul class="inline-list">
	      <li>
	        <a href="#"><span class="label">Link 3</span></a>
	      </li>
	      <li>
	        <a href="#"><span class="label">Link 3</span></a>
	      </li>
	      <li>
	        <a href="#"><span class="label">Link 3</span></a>
	      </li>
</ul>

<form action="" method="post" accept-charset="utf-8">

<textarea class="textarea" cols="40" id="id_text" name="text" rows="10"></textarea>

    <p><input type="submit" class="button"  value="Answer →"></p>
</form>
<div class="row">
    <div class="large-offset-1 large-10 columns">
 <a href="http://www.url.com" target="_blank">Anchor Text</a>
   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p> 

 <a href="http://www.url.com" target="_blank">Anchor Text</a>
   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p> 

   </div>
</div>
<br/>
</div>
<hr>

</div>


{% endblock %}
