{% load i18n %}
<!-- Sidebar -->

    <aside class="large-3 columns">
    <a href="{% url "question_add" %}" class="button">{% trans "Ask Question"  %}</a>
{% if qcats %}
      <h5>Categories</h5>
      <ul class="side-nav">
      

                {% for cat  in qcats %}
                <li><a href="{% url "cat" cat.slug %}">{{ cat.name }} {{ cat.num_question }}</a></li>
                     
                {% endfor %}
        
      </ul>
     
{% endif%}
      <div class="panel callout radius">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More →</a>
      </div>

    </aside>

<!-- End Sidebar -->
