{% load i18n %}
<!-- Sidebar -->

    <aside class="large-3 columns">
    <a href="{% url "question_add" %}" class="button">{% trans "Ask Question"  %}</a>
{% if qcats %}
<h5> {% trans  "Categories" %}</h5>
      <ul class="side-nav">
      

                {% for cat  in qcats %}
                <li><a href="{% url "cat" cat.slug %}">{{ cat.name }} {{ cat.num_question }}</a></li>
                     
                {% endfor %}
        
      </ul>
     
{% endif%}

      <div class="panel callout radius">
          <h5>{% trans "ПЕРВЫЙ РАЗ НА САЙТЕ?" %} </h5>
        <p>
        {% trans "stackoverflow-clon.herokuapp.com —  это социальный сайт вопросов и ответов для IT-специалистов: программистов, веб-дизайнеров, системных администраторов. Как stackoverflow.com, только на русском."%}
        </p>
        <a href="#">{% trans "Read More →" %}</a>
      </div>

    </aside>

<!-- End Sidebar -->
