
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© lolwut ? Powered by finely trained slowpokes!</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Me on Github 3</a></li>
            <li><a href="#">About 1</a></li>
            <li><a href="#">Contact 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
